.progress-bar-day1{ background-color :#0000FF; }
.progress-bar-day2{ background-color :#6495ED; }
.progress-bar-day3{ background-color :#DC143C; }
.progress-bar-day4{ background-color :#006400; }
.progress-bar-day5{ background-color :#E9967A; }
.progress-bar-day6{ background-color :#FF1493; }
.progress-bar-day7{ background-color :#228B22; }
.progress-bar-day8{ background-color :#DCDCDC; }
.progress-bar-day9{ background-color :#ADFF2F; }
.progress-bar-day10{ background-color :#4B0082; }
.progress-bar-day11{ background-color :#E0FFFF; }
.progress-bar-day12{ background-color :#90EE90; }
.progress-bar-day13{ background-color :#808000; }
.progress-bar-day14{ background-color :#FFEFD5; }
.progress-bar-day15{ background-color :#B0E0E6; }
.progress-bar-day16{ background-color :#BC8F8F; }
.progress-bar-day17{ background-color :#2E8B57; }
.progress-bar-day18{ background-color :#6A5ACD; }
.progress-bar-day19{ background-color :#D2B48C; }
.progress-bar-day20{ background-color :#EE82EE; }
.progress-bar-day21{ background-color :#FFFF00; }
.progress-bar-day22{ background-color :#8A2BE2; }
.progress-bar-day23{ background-color :#00FFFF; }
.progress-bar-day24{ background-color :#BDB76B; }
.progress-bar-day25{ background-color :#A52A2A; }
.progress-bar-day26{ background-color :#00008B; }
.progress-bar-day27{ background-color :#8B008B; }
.progress-bar-day28{ background-color :#DEB887; }
.progress-bar-day29{ background-color :#5F9EA0; }
.progress-bar-day30{ background-color :#7FFF00; }
.progress-bar-day31{ background-color :#D2691E; }

.color-day1{ color :#0000FF !important; }
.color-day2{ color :#6495ED !important; }
.color-day3{ color :#DC143C !important; }
.color-day4{ color :#006400 !important; }
.color-day5{ color :#E9967A !important; }
.color-day6{ color :#FF1493 !important; }
.color-day7{ color :#228B22 !important; }
.color-day8{ color :#DCDCDC !important; }
.color-day9{ color :#ADFF2F !important; }
.color-day10{ color :#4B0082 !important; }
.color-day11{ color :#E0FFFF !important; }
.color-day12{ color :#90EE90 !important; }
.color-day13{ color :#808000 !important; }
.color-day14{ color :#FFEFD5 !important; }
.color-day15{ color :#B0E0E6 !important; }
.color-day16{ color :#BC8F8F !important; }
.color-day17{ color :#2E8B57 !important; }
.color-day18{ color :#6A5ACD !important; }
.color-day19{ color :#D2B48C !important; }
.color-day20{ color :#EE82EE !important; }
.color-day21{ color :#FFFF00 !important; }
.color-day22{ color :#8A2BE2 !important; }
.color-day23{ color :#00FFFF !important; }
.color-day24{ color :#BDB76B !important; }
.color-day25{ color :#A52A2A !important; }
.color-day26{ color :#00008B !important; }
.color-day27{ color :#8B008B !important; }
.color-day28{ color :#DEB887 !important; }
.color-day29{ color :#5F9EA0 !important; }
.color-day30{ color :#7FFF00 !important; }
.color-day31{ color :#D2691E !important; }
